---
Checks:
'clang-diagnostic-*,
clang-analyzer-*,
modernize-*,
performance-*,
readability-*,
bugprone-*,
cppcoreguidelines-*,
boost-*,
hicpp-*,
misc-*,
-modernize-use-trailing-return-type,
-cppcoreguidelines-owning-memory'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     LLVM
User:            fruffy
...

